body{
    background-color: #52057b;
}

.contentbox{
    background-color: #bc6ff1;
    font-family: Montserrat;
    font-size: 26px;
    font-style: normal;
    padding: 35px;
    width: auto;
    height: 250px;
}
  
h3{
    color: white;
    cursor:pointer;
}
  
.c1{
    background-color: #000000;
    padding: 30px;
}