{% extends "base.html" %}

{% load static %}


{% block loadcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/story7.css' %}">
{% endblock loadcss %}


{% block script %}
<script>

    $( function() {
      $( "#accordion" )
      .accordion({
          header: "> div > h3"
        })
        .sortable({
          axis: "y",
          handle: "h3",
          stop: function( event, ui ) {
            // IE doesn't register the blur when sorting
            // so trigger focusout handlers to remove .ui-state-focus
            ui.item.children( "h3" ).triggerHandler( "focusout" );
  
            // Refresh accordion to handle new order
            $( this ).accordion( "refresh" );
          }
        });
    } );

    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true
      });
    } );

</script>
{% endblock script %}


{% block content %}
<div class="container-fluid">

    <div class="row">
        <br><br><br><br><br><br><br>
    </div>

    <div class="row">
      <div class="container c1 text-center">
        <div id="accordion">
          <div class="group">
            <h3>My profile</h3>
            <div class="contentbox">
              <p>Hello, my name is Michael Eliazer and you can call me Mike. I’m a five year University student who majors in Information System at Universitas Indonesia.
                I live in jakarta with my family and have two older brothers.
              </p>
            </div>
          </div>
          <div class="group">
            <h3>What I'm doing these days</h3>
            <div class="contentbox">
              <p>Right now i'm focusing on my online study in my college and family time. Besides, i'm playing a esport games and watching movies while there's a spare time.</p>
            </div>
          </div>
          <div class="group">
            <h3>What are these?</h3>
            <div class="contentbox">
              <p>This is accordion. It's like a content with it's header but you can toggle slide the content by clicking it's header.</p>
              <p>Try to swap the content by dragging it too.</p>
            </div>
          </div>
          <div class="group">
            <h3>Experience</h3>
            <div class="contentbox">
              <p>These are my Experience since I'm in CSUI :</p>
              <ul>
                <li>PIC Equipment at Computers Get Together 2019</li>
                <li>Mentor at PMB 2019</li>
                <li>Stage Staff at Compfest 11</li>
                <li>PIC Operational HRD at Compfest 12</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <br><br><br>
    </div>


</div>
{% endblock content %}